{{render 'navigation'}}

<section id="dialog">
  <img alt="Ajax-loader-small" class="hide " id="dialog_body_spinner" src="<%=asset_path('voluntary/ember_js/spinner.gif')%>"/>
  <div id="dialog_body"/>
</section>

<div class='container-fluid'>
  <div class="row">
    <div class="col-md-12">  
      <div id="alert" class="alert alert-dismissible" role="alert" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span id="alert_message"></span>
      </div>
      {{outlet}}
    </div>
  </div>
</div>

{{!render modal}}