<h2>
  {{#link-to 'community.feedbacks' model.slug 1}}{{model.name}}{{/link-to}}
  {{#link-to 'edit_community' model.slug}}
    <span class="glyphicon glyphicon-pencil"></span>
  {{/link-to}}
  <a {{action 'destroy' model.slug}}>
    <span class="glyphicon glyphicon-remove"></span>
  </a>
</h2>

{{outlet}}